<p class="mb-4">
  I am a fresh graduate with a Bachelor's degree in Information Systems,
  accompanied by one year of internship experience as an application and website
  developer. My academic foundation combined with hands-on experience has honed
  my skills and knowledge in the field. I aim to utilize my skills to contribute
  effectively to application and website development projects while further
  advancing my career in this dynamic industry.
</p>
<p class="mb-4">
  I am a fresh graduate with a Bachelor's degree in Information Systems,
  accompanied by one year of internship experience as an application and website
  developer. My academic foundation combined with hands-on experience has honed
  my skills and knowledge in the field. I aim to utilize my skills to contribute
  effectively to application and website development projects while further
  advancing my career in this dynamic industry.
</p>
<p class="mb-4">
  I am a fresh graduate with a Bachelor's degree in Information Systems,
  accompanied by one year of internship experience as an application and website
  developer. My academic foundation combined with hands-on experience has honed
  my skills and knowledge in the field. I aim to utilize my skills to contribute
  effectively to application and website development projects while further
  advancing my career in this dynamic industry.
</p>
<p class="mb-4">
  I am a fresh graduate with a Bachelor's degree in Information Systems,
  accompanied by one year of internship experience as an application and website
  developer. My academic foundation combined with hands-on experience has honed
  my skills and knowledge in the field. I aim to utilize my skills to contribute
  effectively to application and website development projects while further
  advancing my career in this dynamic industry.
</p>
